<div class="container-fluid">
  <div class="row mt-5" style="gap: 100px;">
    <div class="col offset-md-1 " style="margin-top: 90px;">
      <img src="/img/fondo3.jpg" alt="" width="500">
    </div>
    <div class="col align-items-center">
      <h2 id="quantity" class="subtitle is-4">Datos del Cliente</h2>
        <p id="fullname" class="subtitle is-4"> <b>Nombre:</b> </p>
        <p id="email" class="subtitle is-4"> <b>Correo:</b> </p>
        <p id="phone" class="subtitle is-4"> <b>Celular:</b></p>
        <p id="zone" class="subtitle is-4"> <b>Zona:</b></p>
        <p id="status" class="subtitle is-4"> <b>Estado:</b></p>
    </div>
  </div>
</div>